.wrapper{
    max-width: 700px;
    margin: 0 auto;


    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.links{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}
p{
    width: 49%;
}
img{
    max-width: 100%;
    flex: 1 1 200px;
    margin:0px auto;
} 
