.wrapper{
    max-width: 700px;
    margin: 0 auto;


    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 70px;
}
.links{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

}
h2{
    background: #404040;
    color: #fff;
}
p{
    color: #373737;
    width: 50%;
}
